/**********
EVENT LIST ENTRY
***********/

.item{
  background-color: rgba(240,240,240,.7);
  margin-top: 2em;
  height: 19em;
}

.item img{
  width: 100%;
  height: 10em;
}

.item h1{
  display: inline-block;
  margin:.4em 2.5% 0;
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1em;
}

.item p{
  color: #000;
  margin:.25em 2.5% 0;
}

.time{
  font-weight: 800;
  font-size: 1.25em;
  line-height: 1.25em;
}

.location{
  margin-bottom: 4em;
  line-height: 1.25em;
}

.event-list-pic{
  background:url('http://placekitten.com/200/300') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 10em;
}

.left {
  float: left;
}


.nearby{
  background-color: rgba(240,240,240,.7);
  margin-top: 2em;
  height: 19em
}

.nearby p{
  color: #000;
  margin:.25em 5% 0;
}

.nearby h1{
  font-size: 1.5em;
  margin:.1em 5% 0;
}

.similar-events li{
  margin-bottom: .2em;
}
