@import url("http://responsivenavigation.net/css/normalize.css");

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.contain { max-width: 87.500em; margin: 0px auto; overflow: hidden; }

.nav, .main_content {
  -webkit-transition: .2s all ease;
  -moz-transition: .2s all ease;
  transition: .2s all ease;
  width: 100%;
}

.menu_container, .footer { clear:both; overflow: hidden; padding: 0.8em 0; background-color: rgba(0,0,0,0.2); }
.menu_container, .anchor-link { display: none; }
.menu_container { border-bottom: 1px solid #000; }
.anchor-link { font-weight: bold; padding: 0 1em; text-align: right; text-decoration: none; color: #8A2404; float: right; }

nav { width:100%; border-bottom: 1px solid #000;  padding: .6em 0; }
nav ul { list-style: none; padding: 0px; margin: 0px; font-weight: bold; text-align: center; }
nav ul li { display: inline-block; text-align: left; }
nav ul li a { display: block; padding: 5px 10px; text-decoration: none; color: #444; }
nav ul li a:hover { background-color: #ccc; }

.main_content { padding: 1.5em; position: relative; }
.main_content:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(235,134,0,0.66);
}
h1 { text-align: center;  }

p.copyright { text-align: center; }


@media (max-width:48.000em){

  .menu_container, .anchor-link { display: block; }

  .nav { margin-left: -100%; float: left;}
  .main_content { margin-left: 0; float: left; }

  body.active .nav { margin-left: 0; width:80%; }
  body.active .main_content { margin-right: -100%; }

  nav { padding: 0.6em 0; border: none; padding: 0; }
  nav ul { text-align: left; font-weight: normal; }
  nav ul li { display: block; }
  nav ul li a { border-bottom: 1px solid #ba5405; color: #ba5405; }

}
